<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="github" value="https://nuget.pkg.github.com/thadfg/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="thadfg" />
      <add key="ClearTextPassword" value="__REDACTED__" />
    </github>
  </packageSourceCredentials>
</configuration>
